.filters--container {
    display: flex;
    width: 80vw;
    margin-top: 40px;
    justify-content: space-between;

    @include phone {
        width: 95vw;
        justify-content: center;
    }
    @include laptop {
        width: 75vw;
    }
    @include sm-desktop {
        width: 70vw;
    }
    @include desktop {
        width: 80vw;
    }
}

.filters--wrapper {
    display: flex;
}

.filters--label {
    width: auto;
    @include flexMode();
    padding: 10px;
    height: 10px;
    background-color: $light-gray;
    font-family: 'Exo', sans-serif;
    font-size: 0.7rem;
    font-weight: 600;
    border-radius: 20px;
    margin-right: 1vw;
    position: relative;

    &:hover {
        cursor: pointer;
        background-color: $light-gray-hover;

        .filters--dropdown {
            display: flex;
        }
    }

    @include phone {
        margin-left: 1vw;
        margin-right: 1vw;
    }
}

.filters--icon {
    position: relative;
    font-size: 18px;
    top: 3px;
    padding-left: 1px;
}

.empty {
    background-color: transparent;
    border: 1px solid #ebebeb;
}

.allfilters {
    display: none;

}

.filters--dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    background-color: white;
    padding: 15px;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 0.8rem;
    width: auto;
    min-width: 100px;
    display: none;

    span {
        text-decoration: none;
        color: $green;
        margin-bottom: 5px;

        &:hover {
            color: $light-green;
        }
    }

    form {
        display: flex;
        flex-direction: column;
    }

    @include phone {
        left: -25px;
    }
    @include tablet {
        left: -25px;
    }
    @include laptop {
        left: -25px;
    }
}

.filters--dropdown-input {
    border-radius: 10px;
    border: 1px solid $gray;
    margin-bottom: 10px;
    height: 15px;
    font-family: 'Exo', sans-serif;
    padding: 5px;
    width: 125px;

    &:focus {
        outline: none;
    }
}

.filters--dropdown-button {
    background-color: $light-gray;
    border: none;
    border-radius: 10px;
    height: 25px;
    width: 100px;
    border: 1px solid $gray;
    font-family: 'Exo', sans-serif;
    font-weight: 500;

    &:hover {
        cursor: pointer;
        background-color: $secondary-light-gray;
    }
}