@import './media-queries';

.navbar--container {
    font-family: 'Exo', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    margin-bottom: 20px;
}

.navbar--logo {
    @include flexMode();
    margin-right: 1vw;
    text-decoration: none;

    &:hover {
        cursor: pointer;
    }

    img {
        width: 75px;
    }

    span {
        color: $green;
        font-size: 2rem;
        font-weight: 600;
    }
}

.navbar--links {
    span {
        font-size: 1.1rem;
        font-weight: 500;
        color: $dark-gray;
        padding: 1vw;
    }

    span:hover {
        cursor: pointer;
        filter: brightness(1.5)
    }

    @include phone {
        display: none;
    }
    @include tablet {
        display: none;
    }
    @include laptop {
        display: none;
    }
    @include sm-desktop {
        display: none;
    }
    @include desktop {
        display: none;
    }
}

.navbar--search {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 4vw;
    margin-right: 4vw;

    .search--icon {
        position: absolute;
        right: 10px;
        font-size: 24px;
        top: 8px;
        color: $gray;

        &:hover {
            cursor: pointer;
        }
    }

    input {
        font-weight: 500;
        width: 20vw;
        height: 20px;
        border: none;
        border-radius: 20px;
        padding: 10px;
        background-color: $dark-white;
        color: $gray;

        &:focus {
            outline: none;
        }
    }

    @include phone {
        display: none;
    }
    @include tablet {
        display: none;
    }
    @include xl-desktop {
        width: 20vw;
    }
}

.navbar--cart {
    @include flexMode();
    position: relative;
    font-size: 28px;
    text-decoration: none;
    color: $dark-gray;
    top: -5px;
    margin-left: 4px;

    span {
        position: relative;
        top: 3px;
        margin-left: 10px;
        font-size: 1.3rem;
        font-weight: 500;
    }

    &:hover {
        cursor: pointer;
    }

    @include phone {
        display: none;
    }
    @include tablet {
        display: none;
    }
    @include laptop {
        display: none;
    }
    @include sm-desktop {
        display: none;
    }
}

.navbar--hamburger {
    display: none;
    position: relative;
    font-size: 32px;
    top: 5px;
    margin-left: 2vw;

    &:hover {
        cursor: pointer;
    }

    @include phone {
        display: block;
    }
    @include tablet {
        display: block;
    }
    @include laptop {
        display: block;
    }
    @include sm-desktop {
        display: block;
    }
}

.navbar--cart-amount {
    @include flexMode();
    position: absolute;
    width: 20px;
    height: 20px;
    color: white;
    font-size: 0.45em;
    border-radius: 100%;
    top: 8px;
    left: 4px;
    font-weight: 600;
}

.navbar--account {
    font-size: 32px;

    &:hover {
        cursor: pointer;
    }

    @include phone {
        display: none;
    }
    @include tablet {
        display: none;
    }
    @include laptop {
        display: none;
    }
    @include sm-desktop {
        display: none;
    }
}

.navbar--favourites {
    font-size: 32px;
    margin-left: 4px;

    &:hover {
        cursor: pointer;
    }

    @include phone {
        display: none;
    }
    @include tablet {
        display: none;
    }
    @include laptop {
        display: none;
    }
    @include sm-desktop {
        display: none;
    }
}