.productdetails--container {
    @include flexMode();
    font-family: 'Exo', sans-serif;
    flex-direction: column;
    margin-bottom: 50px;
}

.productdetails--wrapper {
    display: flex;
    @include phone {
        flex-direction: column;
    }
    @include tablet {
        flex-direction: column;
        align-items: center;
    }
    @include laptop {
        flex-direction: column;
        align-items: center;
    }
    @include sm-desktop {
        flex-direction: column;
        align-items: center;
    }
}

.productdetails--wrapper-left {
    width: 35vw;
    @include flexMode();
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 3vw;

    @include phone {
        width: 80vw;
        align-items: center;
    }
    @include tablet {
        width: 80vw;
        align-items: center;
    }
    @include laptop {
        width: 60vw;
        align-items: center;
    }
    @include sm-desktop {
        width: 60vw;
        align-items: center;
    }
}

.productdetails--wrapper-right {
    width: 25vw;
    @include flexMode();
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding-right: 5vw;
    padding-top: 3vw;
    padding-left: 2vw;
    
    @include phone {
        width: 70vw;
        align-items: center;
        padding-left: 5vw;
    }
    @include tablet {
        width: 70vw;
        align-items: center;
        padding-left: 5vw;
    }
    @include laptop {
        width: 50vw;
        align-items: center;
        padding-left: 5vw;
    }
    @include sm-desktop {
        width: 50vw;
        align-items: center;
        padding-left: 5vw;
    }
}

.productdetails--thumbnail {
    width: 35vw;
    height: 35vw;
    max-width: 525px;
    max-height: 525px;
    background-color: $secondary-light-gray;
    @include flexMode();
    border-radius: 10px;
    position: relative;

    img {
        width: 30vw;
        max-width: 450px;
    }

    @include phone {
        width: 70vw;
        height: 70vw;

        img {
            width: 65vw;
        }
    }
    @include tablet {
        width: 70vw;
        height: 70vw;

        img {
            width: 65vw;
        }
    }
    @include laptop {
        width: 60vw;
        height: 60vw;

        img {
            width: 55vw;
        }
    }
    @include sm-desktop {
        width: 60vw;
        height: 60vw;
        max-width: 450px;
        max-height: 450px;

        img {
            width: 55vw;
            max-width: 400px;
            max-height: 400px;
        }
    }
}

.productdetails--like {
    position: absolute;
    font-size: 24px;
    right: 0;
    top: 0;
    padding: 7px;
    color: $light-red;
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 30px;
    @include flexMode();
    margin: 5px;

    &:hover {
        cursor: pointer;
        color: rgb(177, 38, 38);
    }
}

.productdetails--name {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
    @include phone {
        display: flex;
        justify-content: center;
    }
    @include tablet {
        display: flex;
        justify-content: center;
    }
    @include laptop {
        display: flex;
        justify-content: center;
    }
    @include sm-desktop {
        display: flex;
        justify-content: center;
    }
}

.productdetails--description {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
}

.productdetails--review {
    color: $light-green;

    span {
        color: black;
        position: relative;
        top: -2px;
    }
}

hr {
    width: 25vw;
    border: 1px solid $light-gray;
    margin-top: 15px;
    margin-bottom: 15px;
}

.productdetails--price {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
}

.productdetails--price-info {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 5px;
    color: $gray;

    @include phone {
        text-align: center;
    }
    @include tablet {
        text-align: center;
    }
    @include laptop {
        text-align: center;
    }
    @include sm-desktop {
        text-align: center;
    }
}

.productdetails--colors-header {
    font-size: 15px;
    font-weight: 600;
}

.productdetails--quantity {
    display: flex;
    flex-direction: row;
}

.productdetails--quantity-sub {
    width: 50px;
    height: 40px;
    background-color: $secondary-light-gray;
    border: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-size: 1.25rem;
    font-weight: 500;

    &:hover {
        cursor: pointer;
    }
}

.productdetails--quantity-amount {
    width: auto;
    height: 40px;
    background-color: $secondary-light-gray;
    @include flexMode();
    font-size: 1.1rem;
}

.productdetails--quantity-add {
    width: 50px;
    height: 40px;
    background-color: $secondary-light-gray;
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 1.25rem;
    font-weight: 500;

    &:hover {
        cursor: pointer;
    }
}

.productdetails--quantity-info {
    display: flex;
    align-items: center;
    font-size: 0.75rem;
    font-weight: 500;
    padding-left: 10px;

    span {
        color: $orange;
        font-weight: 700;
        margin-left: 3px;
        margin-right: 3px;
    }
}

.productdetails--buy-buttons {
    display: flex;
    margin-top: 15px;
}

.productdetails--buy-now {
    width: 12vw;
    min-width: 140px;
    max-width: 160px;
    height: 45px;
    font-size: 0.95rem;
    font-weight: 500;
    background-color: $green-button;
    color: $light-gray;
    border: none;
    border-radius: 25px;
    margin-right: 10px;

    &:hover {
        cursor: pointer;
        background-color: $green;
    }
}

.productdetails--buy-addtocart {
    width: 12vw;
    min-width: 140px;
    max-width: 160px;
    height: 45px;
    font-size: 0.95rem;
    font-weight: 500;
    background-color: transparent;
    color: $green-button;
    border: 1px solid $green-button;
    border-radius: 25px;

    &:hover {
        cursor: pointer;
        background-color: $green-button;
        color: $light-gray;
    }
}

.productdetails--delivery {
    width: 25vw;
    min-width: 300px;
    height: auto;
    border: 1px solid $light-gray;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: none;
    padding: 10px;
    margin-top: 20px;
}

.productdetails--return {
    width: 25vw;
    min-width: 300px;
    height: auto;
    border: 1px solid $light-gray;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px;
}

.productdetails--delivery-header {
    display: flex;
    font-size: 1rem;

    div {
        width: 25px;
        font-size: 1.5rem;
        color: $orange;
    }

    span {
        position: relative;
        margin-left: 10px;
        top: 2px;
    }
}

.productdetails--delivery-info {
    font-size: 1rem;
    margin-left: 35px;
}

.productdetails--return-header {
    display: flex;
    font-size: 1rem;

    div {
        width: 25px;
        font-size: 1.5rem;
        color: $orange;
    }

    span {
        position: relative;
        margin-left: 10px;
        top: 2px;
    }
}

.productdetails--return-info {
    font-size: 1rem;
    margin-left: 35px;
}