// $variable: #color;
$green: #0D4530;
$dark-gray: #2E2C2D;
$gray: #848484;
$dark-green: #013D29;
$orange: #F09050;
$dark-white: #F6F7F9;
$banner-color: #FCF0E4;
$green-button: #003927;
$button-text: #bae5d5;

@mixin flexMode() {
    display: flex;
    justify-content: center;
    align-items: center;
}